.listImg {
    height: 80px !important;
    width: 80px !important;
}

h3 {
    display: inline-block;
}

.EventDes {
    display: inline-block;
    width: 70%;
}

.EventEndDate {
    float: right;
}

.evtTitle {
    height: 4vh;
    background-color: red;
    width: 1vh;
    display: inline-block;
}

.evtStatus {
    font-size: 3.5vh;
    display: inline-block;
}

.CreateEventBtn {
    position: fixed;
    right: 40px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    background-color: #F8CE59;
    border-radius: 25%;
    z-index: 20;
}

.ObCover{
    object-fit: cover;
}
