@model List<Content>
@{
	var FirstImage = Model.ElementAtOrDefault(0);
	var SecondImage = Model.ElementAtOrDefault(1);
	var ThreeImage = Model.ElementAtOrDefault(2);
	var FourImage = Model.ElementAtOrDefault(3);
	var FiveImage = Model.ElementAtOrDefault(4);
	var SixImage = Model.ElementAtOrDefault(5);
	var SevenImage = Model.ElementAtOrDefault(6);
	var EightImage = Model.ElementAtOrDefault(7);
	var NineImage = Model.ElementAtOrDefault(8);
}
<link rel="stylesheet" href="~/css/yhu/FTP.css">

 <div class="container d-flex">
	<div class="row columnFirst">
		<img src="data:image/*;base64,@(Convert.ToBase64String(FirstImage!.ImageUrl!))" alt="...">
		<img src="data:image/*;base64,@(Convert.ToBase64String(SecondImage!.ImageUrl!))" alt="...">
		<img src="data:image/*;base64,@(Convert.ToBase64String(ThreeImage!.ImageUrl!))" alt="...">
	</div>
	<div class="row columnSecond">
		<img src="data:image/*;base64,@(Convert.ToBase64String(FourImage!.ImageUrl!))" alt="...">
		<img src="data:image/*;base64,@(Convert.ToBase64String(FiveImage!.ImageUrl!))" alt="...">
	</div>
	<div class="row columnThree">
		<img src="data:image/*;base64,@(Convert.ToBase64String(SevenImage!.ImageUrl!))" alt="...">
		<img src="data:image/*;base64,@(Convert.ToBase64String(EightImage!.ImageUrl!))" alt="...">
	</div>

	<div class="row LoginCard">
		<h1 class="text-center my-5">忘記密碼頁面</h1>
		<div class="text-center">
			<form action="/" method="post">
				<p><label>Email : </label></p>
				<input id="Email" type="email" />
				<button id="Verification" type="submit">取得驗證碼</button>
			</form>
			<div id="extraFields" style="display: none;">
				<input id="VerificationCode" type="text" value="請輸入驗證碼">
				<input type="submit" value="OK" id="verificationOk">
			</div>
		</div>
		<div class="text-center" id="userPasswd" style=" display: none;">
			<p><label for="UserPasswd">Passwd</label></p>
			<p><input id="UserPasswd" type="password" name="UserPasswd" pattern="^[a-zA-Z0-9]{8,100}$" title="請輸入英文和數字，至少為 8字符" required></p>
			<p><label for="UserPasswdCheck">Passwd Check</label></p>
			<p><input id="UserPasswdCheck" type="password" name="UserPasswdCheck" pattern="^[a-zA-Z0-9]{8,100}$" title="請輸入英文和數字，至少為 8字符" required></p>
			<button id="showPasswordBtn" type="button">顯示密碼</button>
			<a href="/yhu/Login"><input type="submit" value="passwdOk" id="passwdOk"></a>
			<p style="display: none;" id="PasswdError">兩次密碼不符合</p>
		</div>
	</div>
</div>






<script>
	var verifyCode = 0;
	//取得驗證碼+系統自動發信
	$('#Verification').on("click", function () {
		var EmailFromClient = $('#Email').val()
		//驗證碼亂數產生一組6個數字
		verifyCode = Math.random().toFixed(6).slice(-6);

		$.ajax({
			url: "/yhu/sendGmail",
			method: "get",
			data: {
				MEmail: EmailFromClient,
				verifyCode: verifyCode
			},
			success: function (e) {
				console.log("verifyCode = " + verifyCode);
			}
		})
	})


	//顯示輸入驗證碼和確認按鈕
	$(document).ready(function () {
		// 当点击取得验证码按钮时
		$("#Verification").click(function (event) {
			event.preventDefault(); // 阻止默认的表单提交行为
			// 显示额外的输入字段和提交按钮
			$("#extraFields").show();
		});
		$("#VerificationCode").focus(function () {
			// 如果值等于默认文本，则清空值
			if ($(this).val() === "請輸入驗證碼") {
				$(this).val("");
			}
		});
		// 当文本框失去焦点时
		$("#VerificationCode").blur(function () {
			// 如果值为空，则恢复默认文本
			if ($(this).val().trim() === "") {
				$(this).val("請輸入驗證碼");
			}
		});
	});


	$(document).ready(function () {
		$("#verificationOk").on("click", function () {
			event.preventDefault(); // 阻止表單提交
			var inputCode = $("#VerificationCode").val().trim();
			if (inputCode === verifyCode) {
				$("#userPasswd").show();
			} else {
				alert("验证码不正确，请重新输入。");
				$("#VerificationCode").val("");
			}
		});
		$("#UserPasswd").focus(function () {
			if ($(this).val() === "請輸入密碼") {
				$(this).val("");
			}
		});
		$("#UserPasswd").blur(function () {
			if ($(this).val().trim() === "") {
				$(this).val("請再次輸入密碼");
			}
		});
	});


	$(function () {
		$("#showPasswordBtn").on("click", function () {
			var passwordField = $("#UserPasswd");
			var passwordFieldCheck = $("#UserPasswdCheck");
			var passwordError = $("#PasswdError");

			if (passwordField.attr("type") === "password") {
				passwordField.attr("type", "text");
				passwordError.hide();
			} else {
				passwordField.attr("type", "password");
			}
			if (passwordFieldCheck.attr("type") === "password") {
				passwordFieldCheck.attr("type", "text");
				passwordError.hide();
			} else {
				passwordFieldCheck.attr("type", "password");
			}
		});
	});

	$(document).ready(function () {
		// 当点击确认验证码按钮时
		$("#verificationOk").on("click", function () {
			event.preventDefault(); // 阻止默认的表单提交行为
			// 获取输入的验证码
			var inputCode = $("#VerificationCode").val().trim();
			// 比较输入的验证码与之前获取的验证码
			if (inputCode === verifyCode) {
				// 显示更改密码的相关字段和按钮
				$(".LoginCard").css("height", "80vh");
				$("#userPasswd").show();
			} else {
				// 验证码不匹配，显示错误提示信息
				alert("验证码不正确，请重新输入。");
				// 清空验证码输入框
				$("#VerificationCode").val("");
			}
		});
	});


	$("#passwdOk").on("click", function (event) {
		event.preventDefault();
		var newPassword = $("#UserPasswd").val().trim();
		var UserPasswdCheck = $("#UserPasswdCheck").val().trim();
		var emailFromClient = $('#Email').val()
		if (newPassword == UserPasswdCheck) {
			$.ajax({
				url: "/yhu/FTPGet",
				method: "post",
				data: {
					userEmail: emailFromClient,
					userPassword: newPassword // 新密碼
				},
				success: function (response) {
					// 如果成功更新密碼，你可以根據需要進行一些處理
					console.log("密碼已成功更新");
					// 例如，你可以在頁面上顯示一個成功更新密碼的提示
				},
				error: function (xhr, status, error) {
					// 如果發生錯誤，你可以根據需要進行一些處理
					console.error("更新密碼時發生錯誤：" + error);
					// 例如，你可以在頁面上顯示一個錯誤訊息
				}
			});
		} else {
			console.log("密碼輸入不一致");
		}
	});

</script>