@{
}
<div class="container  d-flex justify-content-center align-items-center p-4 my-5">
    <div class="row">
        <h1 class="text-center">忘記密碼頁面</h1>
        <div class="text-center my-5">
            <form action="/" method="post">
                <label>信箱</label>
                <input id="Email" type="email" />
                <button id="dog" type="submit">取得驗證碼</button>
            </form>
            <h5><input type="submit" value="OK"></h5>
        </div>

    </div>
</div>


@* <p id="Msg">123</p>
<p></p> *@
<script>
    var verifyCode = 0;
    //取得驗證碼+系統自動發信
    $('#dog').on("click", function () {
        var EmailFromClient = $('#Email').val()
        //驗證碼亂數產生一組6個數字
        verifyCode = Math.random().toFixed(6).slice(-6);
        // console.log("456");
        $.ajax({
            url: "/yhu/sendGmail",
            method: "get",
            data: {
                MEmail: EmailFromClient,
                verifyCode: verifyCode
            },
            success: function (e) {
                // $('#Msg').hide();
                // $('#CheckIdentifyCode').show();
                console.log("verifyCode = " + verifyCode);
            }
        })
    })
</script>