@model List<Content>
@{
	var FirstImage = Model.ElementAtOrDefault(0);
	var SecondImage = Model.ElementAtOrDefault(1);
	var ThreeImage = Model.ElementAtOrDefault(2);
	var FourImage = Model.ElementAtOrDefault(3);
	var FiveImage = Model.ElementAtOrDefault(4);
	var SixImage = Model.ElementAtOrDefault(5);
	var SevenImage = Model.ElementAtOrDefault(6);
	var EightImage = Model.ElementAtOrDefault(7);
	var NineImage = Model.ElementAtOrDefault(8);
}

<link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
<link href="/css/yhu/Login.css" rel="stylesheet" />
<div id="Login" class="container">
	<div class="row columnFirst">
		<img src="data:image/*;base64,@(Convert.ToBase64String(FirstImage!.ImageUrl!))" alt="...">
		<img src="data:image/*;base64,@(Convert.ToBase64String(SecondImage!.ImageUrl!))" alt="...">
		<img src="data:image/*;base64,@(Convert.ToBase64String(ThreeImage!.ImageUrl!))" alt="...">
	</div>
	<div class="row columnSecond">
		<img src="data:image/*;base64,@(Convert.ToBase64String(FourImage!.ImageUrl!))" alt="...">
		<img src="data:image/*;base64,@(Convert.ToBase64String(FiveImage!.ImageUrl!))" alt="...">
	</div>
	<div class="row columnThree">
		<img src="data:image/*;base64,@(Convert.ToBase64String(SevenImage!.ImageUrl!))" alt="...">
		<img src="data:image/*;base64,@(Convert.ToBase64String(EightImage!.ImageUrl!))" alt="...">
	</div>
	<div class="row LoginCard  border ToMiddle" id="UserU">
		<form id="LoginList">
			<h2 class="my-4">登入</h2>
			<div class="position-relative my-2">
				<input id="E_Mail" name="E_Mail" type="email" value="Email" onfocus="if(this.value=='Email') this.value='';" onblur="if(this.value=='') this.value='Email';" required>
				<h3 class="ri-mail-add-fill position-absolute top-0 end-0  my-1 w-50"></h3>
				<p style="display: none;" id="EmailError">使用者信箱無效</p>
			</div>
			<div class="position-relative my-2">
				<input id="Passwd" name="Passwd" type="text" value="密碼" onfocus="showPlainText(this)" onblur="hidePlainText(this)" required>
				<button class="showPasswordBtnLogin position-absolute top-0 end-0 my-1 w-50 " id="showPasswordBtnLogin" type="button">
						<img id="passwordIconLogin" src="~/img/VickyImg/lockFill.png" alt="">
					</button>
					<p style="display: none;" id="PasswdError">密碼錯誤</p>
				</div>
			<div class="d-flex my-2">
					<a href="/yhu/FTP" class="mx-5">忘記密碼</a>
					<h5><input type="submit" value="Login" id="loginInputOk"></h5>
				</div>
		</form>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/yhu/Login.js"></script>
