.MainOpen {
    flex: 0 0 auto;
    width: 65%;
    transform-origin: left;
    transition: 0.5s;
    margin-left: -5px;
    z-index: 1;
}

.SidebarOpen {
    flex: 0 0 auto;
    width: 10%;
    transform-origin: right;
    transition: 0.5s;
    background-color: aliceblue;
}

.MainClose {
    flex: 0 0 auto;
    width: 73%;
    transform-origin: left;
    transition: 0.3s;
    margin-left: -1px;
}

.SidebarClose {
    flex: 0 0 auto;
    width: 2%;
    transform-origin: right;
    transition: 0.3s;
    background-color:slategray;
}

ol {
    list-style-type: none;
}

.HighlightMesg {
    background-color: rgb(255, 255, 255);
    z-index: 2;
    position: relative;
}

.iconHeig {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
}

.border-right-0 {
    border-right: 0 !important;
}
.image-container {
    height: 250px; /* 设置容器高度 */
    overflow: hidden; /* 超出容器部分隐藏 */
}
    .image-containerImg {
        width: 100%; /* 图像宽度填充容器 */
        height: 100%; /* 图像高度填充容器 */
        object-fit: cover; /* 保持原始比例，填充容器 */
    }
