@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
<link href="/css/yhu/Signup.css" rel="stylesheet" />

<div class="container-fluid">
	<img src="~/img/VickyImg/SignBackGround.png" alt="" class="SignBackGround">
	<div class="row SignupCard  border" id="Signup">
		<div id="Userlist">
			<form id="Register">
				<h2 class="my-4">註冊</h2>
				<div class="position-relative">
					<input id="Email" type="email" name="Email" value="Email" onfocus="if(this.value=='Email') this.value='';" onblur="if(this.value=='') this.value='Email';" required>
					<h3 class="ri-mail-add-fill position-absolute top-0 end-0 my-1 w-25"></h3>
					<p style="display: none;" id="EmailError">使用者信箱重複</p>
				</div>
				<div>
					<div class="position-relative">
						<input id="UserName" type="text" name="UserName" value="暱稱" onfocus="if(this.value=='暱稱') this.value='';" onblur="if(this.value=='') this.value='暱稱';" required>
						<h3 class="ri-account-circle-fill position-absolute top-0 end-0 my-1 w-25"></h3>
					</div>
					<p style="display: none; " id="UserNameError">使用者暱稱重複</p>
				</div>
				<div class="position-relative">
					<input id="UserPasswd" type="text" name="UserPasswd" value="密碼" onfocus="showPlainText(this)" onblur="hidePlainText(this)" pattern="^[a-zA-Z0-9]{8,100}$" title="請輸入英文和數字，至少為 8字符" required>
					<button class="showPasswordBtn position-absolute top-0 end-0 my-1 w-25" id="showPasswordBtn" type="button">
						<img id="passwordIcon" src="~/img/VickyImg/lockFill.png" alt="">
					</button>
				</div>
				<div>
					<div class="position-relative">
						<p><input id="UserPasswdCheck" type="text" name="UserPasswdCheck" value="確認密碼" onfocus="showPlainText(this)" onblur="hidePlainCheckText(this)" pattern="^[a-zA-Z0-9]{8,100}$" title="請輸入英文和數字，至少為 8字符" required></p>
						<button class="showPasswordCheckBtn  position-absolute top-0 end-0 my-1 w-25" id="showPasswordCheckBtn" type="button">
							<img id="passWordCheckIcon" src="~/img/VickyImg/lockFill.png" alt="">
						</button>
					</div>
					<p style="display: none;" id="PasswdError">兩次密碼不符合</p>
					<input type="submit" value="OK" class="btn btn-lg btn-block" id="signupEnter">
				</div>
			</form>
		</div>
		<div id="UserAdd" class="ToMiddle" style="display: none;">
			<h5 id="NewUser"></h5>
			<button class="btn btn-primary btn-lg btn-block">返回首頁</button>
		</div>
	</div>
</div>

<script src="/js/yhu/Signup.js"></script>

