
::-webkit-scrollbar {
    display: none;
}

#Toggle {
    word-wrap: break-word;
}

#Main {
    flex: 0 0 auto;
    width: 56%;
}
#StallMain {
    flex: 0 0 auto;
    width: 56%;
}

#Userlist {
    height: 50vh;
    overflow-y: scroll;
}

#Sidebar {
}

.UserIcon {
    height: 12vh;
    width: 12vh;
    max-height: 12vh;
    max-width: 12vh;
    object-fit: cover;
}

.WorkImg {
    width: 100%; /* 图像宽度填充容器 */
    height: 100%; /* 图像高度填充容器 */
    object-fit: cover; /* 保持原始比例，填充容器 */
}

.ToMiddle {
    display: flex;
    justify-content: center;
    align-items: center;
}

. JustifyMiddle {
    display: flex;
    justify-content: center;
}

#SmallTour {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    height: 5vh;
}
ul {
    margin: 0;
}
.image-container {
    height: 100vh !important; /* 设置容器高度 */
    overflow: hidden; /* 超出容器部分隐藏 */
}
.TextDiv {
    display: block;
    backdrop-filter: blur(8px);
}
.image-containerEvent {
    height: 100px; /* 设置容器高度 */
    overflow: hidden; /* 超出容器部分隐藏 */
}
.image-containerEventImg {
        width: 100%; /* 图像宽度填充容器 */
        height: 100%; /* 图像高度填充容器 */
        object-fit: cover; /* 保持原始比例，填充容器 */
}

