@* <link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.snow.css" rel="stylesheet"> *@
<link rel="stylesheet" href="/css/Shared/Quill.css" />


<h1>發布文章</h1>

<div class="quillcontainer">
    <form action="https://httpbin.org/post" method="post">
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label class="font-weight-bold">
                        類別<span class="text-danger ml-1"> *</span>
                    </label>
                    <select class="form-select" aria-label="category">
                        <option selected>請選擇類別</option>
                        <option value="1">繪圖</option>
                        <option value="2">影片</option>
                        <option value="3">文字</option>
                    </select>
                </div>
                <div class="col">
                    <label class="font-weight-bold">
                        子類別<span class="text-danger ml-1"> *</span>
                    </label>
                    <select class="form-select" aria-label="category">
                        <option selected>請選擇子類別</option>
                        <option value="4">插畫</option>
                        <option value="5">塗鴉</option>
                        <option value="6">背景</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="postTitle" class="form-label">
                標題<span class="text-danger ml-1"> *</span>
            </label>
            <input type="text" class="form-control" placeholder="請輸入標題" id="postTitle">
        </div>
        <div class="form-group">
            <label>內文</label>
            <!-- Quill Editor Start -->
            <div id="editor"></div>
            <!-- Quill Editor End -->
        </div>
        <button id="submitInput" class="mb-3 btn btn-primary" type="button"
                data-bs-toggle="modal" data-bs-target="#submitModal">
            發送文章
        </button>
    </form>
</div>

<!-- 確認 Modal -->
<div id="submitModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">發布文章</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>確認發布文章？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="submit" class="btn btn-primary">確認</button>
            </div>
        </div>
    </div>
</div>
<!-- 自訂 js -->
<script>
    var submitModal = document.getElementById('submitModal')
    var submitInput = document.getElementById('submitInput')

    submitModal.addEventListener('shown.bs.modal', function () {
        submitInput.focus()
    })
</script>

<script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.js"></script>
<script src="/js/Shared/Quill.js"></script>