@model CreatorsPlatform.Controllers.CreatorController.ContentsDetailsViewModel
<div class="container main-page">
    <div class="row">
        <div class="col-9" style="border:solid">
            <div class="pictures-container text-center" style="border:solid">
                <img src="data:image/png;base64,@(Convert.ToBase64String(Model.Content?.ImageUrl ?? Array.Empty<byte>()))" alt="" class="img-fluid">
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="d-flex flex-row-reverse bd-highlight">
                        <div class="p-2 bd-highlight"><i class="fs-4 bi bi-share"></i></div>
                        <div class="p-2 bd-highlight"><i class="fs-4 bi bi-heart"></i><span>@Model.Content?.Likes</span></div>
                    </div>
                </div>
                <div class="col-12 px-5 py-3">
                    <h4>@Model.Content?.Title</h4>
                </div>
                <div class="col-12 px-5 mb-3">
                    <h4>Tags</h4>
                    </div>
            </div>
            <!-- 作者 -->
            <div class="row p-3">
                <div class="col-2 avatar text-center">
                    <img src="data:image/png;base64,@(Convert.ToBase64String(Model.Content?.Creator.Users.SingleOrDefault()?.Avatar ?? Array.Empty<byte>()))" alt="" class="img-fluid rounded-circle"
                         style="max-width:100px; max-height:100px;">
                </div>
                <div class="col-8 creator-name d-inline-flex align-items-center">
                    <h4>@Model.Content?.Creator.Users.SingleOrDefault()?.UserName</h4>
                </div>
                <div class="col-2 d-inline-flex align-items-center justify-content-center">
                    <button type="button" class="btn btn-primary">關注</button>
                </div>
            </div>
            <!-- comments -->
            <div class="row">
                <div class="col-12 px-5 py-3 comments">
                    <h4>留言</h4>
                </div>
            </div>

            <div class="card mb-3" style="border-color: rgba(0, 0, 0, 0);">
                <div class="row g-0">
                    <div class="col-md-2 avatar text-center">
                        <img src="https://fakeimg.pl/100/" alt="" class="img-fluid rounded-circle">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title mb-1">粉絲名稱</h5>
                            <p class="card-text mb-2">
                                This is a wider card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit longer.
                            </p>
                            <p class="card-text"><small class="text-muted">留言時間</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 重複 -->
            <div class="card mb-3" style="border-color: rgba(0, 0, 0, 0);">
                <div class="row g-0">
                    <div class="col-md-2 avatar text-center">
                        <img src="https://fakeimg.pl/100/" alt="" class="img-fluid rounded-circle">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title mb-1">粉絲名稱</h5>
                            <p class="card-text mb-2">
                                This is a wider card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit longer.
                            </p>
                            <p class="card-text"><small class="text-muted">留言時間</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="border-color: rgba(0, 0, 0, 0);">
                <div class="row g-0">
                    <div class="col-md-2 avatar text-center">
                        <img src="https://fakeimg.pl/100/" alt="" class="img-fluid rounded-circle">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title mb-1">粉絲名稱</h5>
                            <p class="card-text mb-2">
                                This is a wider card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit longer.
                            </p>
                            <p class="card-text"><small class="text-muted">留言時間</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 重複結束 -->
        </div>
        <!-- aside -->
        <div class="col-3" style="border:solid">
            <div class="row">
                Dance
            </div>
        </div>
    </div>
</div>