@{
    ViewData["Title"] = "Creator Home";
}


<!-- Banner -->
<div class="text-center" id="banner">
    <img class="img-fluid" src="https://fakeimg.pl/1620x580/" alt="">
</div>
<!-- Creator介紹 -->
<div class="container p-3">
    <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-1">
            <img class="rounded-circle img-fluid" src="https://fakeimg.pl/100/" alt="">
        </div>
        <div class="col-sm-10 col-md-10 col-lg-11">
            <div class="row">
                <div class="col">
                    <h4>創作者名稱</h4>
                </div>
                <!-- 強制換行 -->
                <div class="w-100"></div>
                <div class="col">
                    <a href="#">
                        <i class="fs-4 bi bi-twitter-x"></i>
                    </a>
                    <a href="#">
                        <i class="fs-4 bi bi-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fs-4 bi bi-facebook"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 頁籤 0. 個人資料 1. 作品 2. 訂閱 3. 委託 -->
<ul class="nav nav-tabs" id="creatorTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="true">個人資料</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="collection-tab" data-bs-toggle="tab" data-bs-target="#collection" type="button" role="tab" aria-controls="collection" aria-selected="false">作品</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="commission-tab" data-bs-toggle="tab" data-bs-target="#commission" type="button" role="tab" aria-controls="commission" aria-selected="false">委託</button>
    </li>
</ul>
<div class="tab-content" id="creatorTabContent">
    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="p-3">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi enim nunc faucibus a pellentesque sit. Aliquam purus sit amet luctus venenatis lectus magna fringilla urna. Nisl pretium fusce id velit. Et leo duis ut diam quam nulla. In massa tempor nec feugiat nisl pretium. Augue mauris augue neque gravida in fermentum et. Ante in nibh mauris cursus mattis. Faucibus turpis in eu mi bibendum neque. Sagittis vitae et leo duis ut diam quam nulla. Volutpat odio facilisis mauris sit. Congue quisque egestas diam in arcu cursus euismod quis viverra. Proin fermentum leo vel orci porta non pulvinar. Volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque. Sed cras ornare arcu dui vivamus. Enim blandit volutpat maecenas volutpat blandit aliquam etiam erat velit. Amet nisl purus in mollis nunc. Elementum curabitur vitae nunc sed velit dignissim. Convallis convallis tellus id interdum velit laoreet id donec ultrices.
            </p>
        </div>
    </div>
    <div class="tab-pane fade" id="collection" role="tabpanel" aria-labelledby="collection-tab">
        <!-- 內容Container with 3 Cards in 1 row -->
        <div class="card-container container">
            <div class="card-deck row p-3">
                <div class="col-4">
                    <a style="display:block" href="#">
                        <div class="card">
                            <img class="card-img-top"
                                 src="https://fakeimg.pl/500/"
                                 alt="Card image cap"
                                 @* style="max-height: 12rem; object-fit: cover" *@ />
                            <div class="card-body"
                                 @* style="height: 10rem" *@ >
                                <h5 class="card-title">作品標題</h5>
                                <h6 class="card-subtitle mb-2 text-muted">作品分類</h6>
                                <p class="card-text">
                                    作品簡述
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- 重複 -->
                <div class="col-4">
                    <div class="card">
                        <img class="card-img-top"
                             src="https://fakeimg.pl/500/"
                             alt="Card image cap"
                        @* style="max-height: 12rem; object-fit: cover" *@ />
                        <div class="card-body"
                        @* style="height: 10rem" *@>
                            <h5 class="card-title">作品標題</h5>
                            <h6 class="card-subtitle mb-2 text-muted">作品分類</h6>
                            <p class="card-text">
                                作品簡述
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <img class="card-img-top"
                             src="https://fakeimg.pl/500/"
                             alt="Card image cap"
                        @* style="max-height: 12rem; object-fit: cover" *@ />
                        <div class="card-body"
                        @* style="height: 10rem" *@>
                            <h5 class="card-title">作品標題</h5>
                            <h6 class="card-subtitle mb-2 text-muted">作品分類</h6>
                            <p class="card-text">
                                作品簡述
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="commission" role="tabpanel" aria-labelledby="commission-tab">
        <!-- 內容Container with 3 Cards in 1 row -->
        <div class="card-container container">
            <div class="card-deck row p-3">
                <div class="col-4">
                    <a style="display:block" href="#">
                        <div class="card">
                            <img class="card-img-top"
                                 src="https://fakeimg.pl/500/"
                                 alt="Card image cap"
                            @* style="max-height: 12rem; object-fit: cover" *@ />
                            <div class="card-body"
                            @* style="height: 10rem" *@>
                                <h5 class="card-title">委託標題</h5>
                                <h6 class="card-subtitle mb-2 text-muted">委託分類</h6>
                                <p class="card-text">
                                    委託簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述(多餘的要吃掉)
                                </p>
                                <h5 class="card-text commisionPrice" style="font-weight:bolder">
                                    5000
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-4">
                    <div class="card">
                        <img class="card-img-top"
                             src="https://fakeimg.pl/500/"
                             alt="Card image cap"
                        @* style="max-height: 12rem; object-fit: cover" *@ />
                        <div class="card-body"
                        @* style="height: 10rem" *@>
                            <h5 class="card-title">委託標題</h5>
                            <h6 class="card-subtitle mb-2 text-muted">委託分類</h6>
                            <p class="card-text">
                                委託簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述(多餘的要吃掉)
                            </p>
                            <p class="card-text commisionPrice">
                                委託價格
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <img class="card-img-top"
                             src="https://fakeimg.pl/500/"
                             alt="Card image cap"
                        @* style="max-height: 12rem; object-fit: cover" *@ />
                        <div class="card-body"
                        @* style="height: 10rem" *@>
                            <h5 class="card-title">委託標題</h5>
                            <h6 class="card-subtitle mb-2 text-muted">委託分類</h6>
                            <p class="card-text">
                                委託簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述簡述(多餘的要吃掉)
                            </p>
                            <p class="card-text commisionPrice">
                                委託價格
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>