<link rel="stylesheet" href="/css/Shared/Quill.css" />
<link href="~/css/Lolm/CreateEvent.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-7 d-flex flex-column">
            <div><h3>發起活動</h3></div>
            <div class="mb-3"><b>標題</b><br /> <input id="eventName" class="EventNameInput" type="type" name="EventName" value="" /></div>
            <div class="EventIntroSection">
                <b>活動描述</b><br />
                <div class="mb-3" id="editor">
                </div>
            </div>
            <div class="mb-3 d-flex SetEventTime">
                <b>時程設定</b>
                <input id="startDate" type="datetime-local" name="StartDate" value="" />
                <span>~</span>
                <input id="endDate" type="datetime-local" name="EndDate" value="" />
            </div>
            <div class="mb-3 d-flex EventColoerSection">
                <b>佈景顏色</b>
                <label for="EventTitleColorInput">標題顏色</label>
                <input type="color" id="EventTitleColorInput" name="EventTitleColor"/>
                <label for="EventIntroColorInput">說明欄顏色</label>
                <input type="color" id="EventIntroColorInput" name="EventIntroColor"/>
            </div>
        </div>
        <div class="col-5">
            <div>
                <b class="mb-2">封面圖片</b> <br />
                <form action="/somewhere/to/upload" enctype="multipart/form-data">
                    <input type="file" id="progressbarTWInput" accept="image/gif, image/jpeg, image/png" />
                    <div class="PreviewImgWarp"><img id="preview_progressbarTW_img" src="#" /></div>
                </form>
            </div>
            <div>
                <b>範例圖片</b><br />
                <div class="d-flex ExampleImgSection">
                    @*<div><img src="~/img/Lolm/EventContent/InaImg.jpg" alt="" /></div>
                    <div><img src="~/img/Lolm/EventContent/ShikaImg.jpg" alt="" /></div> *@
                    <form action="/somewhere/to/upload" enctype="multipart/form-data">
                        <input type="file" accept="image/gif, image/jpeg, image/png" />
                        <div><img src="#" /></div>
                    </form>
                    <form action="/somewhere/to/upload" enctype="multipart/form-data">
                        <input type="file" accept="image/gif, image/jpeg, image/png" />
                        <div><img src="#" /></div>
                    </form>
                </div>

                @* test *@
                @*                 <div class="upload-container">
                <div class="upload-box">
                <input type="file" id="upload" accept="image/*">
                <label for="upload"></label>
                </div>
                <div class="upload-preview" id="preview"></div>
                </div> *@


            </div>
            <div class="mt-1 CreateEventBtnSection">
                <button class="btn" id="cancelButton" type="button">取消</button>
                <button class="btn" id="PreviewButton" type="button" onclick="getQuillContent()">預覽</button>
                <button class="btn" id="okButton" type="button" onclick="PostAllToSQL()">發起活動</button>
            </div>
        </div>
    </div>
</div>


@* <form id="uploadForm" enctype="multipart/form-data">
    <input type="file" id="fileInput" name="fileInput" accept="image/*">
    <input type="file" id="fileInput2" name="fileInput" accept="image/*">
    <button type="button" onclick="uploadPhoto()">Upload</button>
</form> *@

<script>
    function uploadPhoto() {
        var formData = new FormData();
        formData.append("file", document.getElementById("fileInput").files[0]);
        formData.append("file", document.getElementById("fileInput2").files[1]);
        var count = Object.keys(formData).length();
        console.log(formData.keys);
        alert("AAA");
        $.ajax({
            method: "POST",
            url: "/Lolm/Upload",
            data: formData,
            processData: false,
            contentType: false,
            success: function (a, response) {
                // 上傳成功後的處理
                console.log(response);
                alert("CCC");
            },
            error: function (xhr, status, error) {
                // 上傳失敗後的處理
                console.log(error);
                alert("DDD");
            }
        });
    }
</script>

<script src="~/js/Lolm/CreateEvent.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.js"></script>
<script src="/js/Lolm/Quill.js"></script>