<link rel="stylesheet" href="/css/Shared/Quill.css" />
<link href="~/css/Lolm/CreateEvent.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-7 d-flex flex-column">
            <div><h3>發起活動</h3></div>
            <div class="mb-3 pe-5"><b>標題</b><br /> <input class="EventNameInput" type="type" name="name" value="" /></div>
            <div class="EventIntroSection">
                <b>活動描述</b><br />
                <div class="mb-3" id="editor">
                </div>
            </div>
            <div class="mb-3 d-flex SetEventTime">
                <b>時程設定</b>
                <input type="datetime-local" name="name" value="" />
                <span>~</span>
                <input type="datetime-local" name="name" value="" />
            </div>
            <div class="mb-3 d-flex EventColoerSection">
                <b>佈景顏色</b>
                <label for="EventTitleColorInput">標題顏色</label>
                <input type="color" id="EventTitleColorInput" name="EventTitleColor" value="" />
                <label for="EventIntroColorInput">說明欄顏色</label>
                <input type="color" id="EventIntroColorInput" name="EventIntroColor" value="" />
            </div>
        </div>
        <div class="col-5">
            <div>
                <b class="mb-2">封面圖片</b> <br />
                <form action="/somewhere/to/upload" enctype="multipart/form-data">
                    <input type="file" id="progressbarTWInput" accept="image/gif, image/jpeg, image/png" />
                    <div class="PreviewImgWarp"><img id="preview_progressbarTW_img" src="#" /></div>
                </form>
            </div>
            <div>
                <b>範例圖片</b><br />
                <div class="d-flex ExampleImgSection">
                    @*<div><img src="~/img/Lolm/EventContent/InaImg.jpg" alt="" /></div>
                    <div><img src="~/img/Lolm/EventContent/ShikaImg.jpg" alt="" /></div> *@
                    <form action="/somewhere/to/upload" enctype="multipart/form-data">
                        <input type="file" accept="image/gif, image/jpeg, image/png" />
                        <div><img src="#" /></div>
                    </form>
                    <form action="/somewhere/to/upload" enctype="multipart/form-data">
                        <input type="file" accept="image/gif, image/jpeg, image/png" />
                        <div><img src="#" /></div>
                    </form>
                </div>

                @* test *@
                @*                 <div class="upload-container">
                <div class="upload-box">
                <input type="file" id="upload" accept="image/*">
                <label for="upload"></label>
                </div>
                <div class="upload-preview" id="preview"></div>
                </div> *@


            </div>
            <div class="mt-1 CreateEventBtnSection">
                <button class="btn" id="cancelButton" type="button">取消</button>
                <button class="btn" id="PreviewButton" type="button" onclick="htmlch()">預覽</button>
                <button class="btn" id="okButton" type="button">發起活動</button>
            </div>
        </div>
    </div>
</div>



<script src="~/js/Lolm/CreateEvent.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.js"></script>
<script src="/js/Lolm/Quill.js"></script>
<script>
    function htmlch() {
        const html = quill.getSemanticHTML();
        console.log(html);
    }
</script>